@import '../../../GlobalStyles/_mixin';
.header {
  box-shadow: 0 0 15px 1px #aaa;
}
.header > * {
  height: 100%;
}
.headerNav {
  text-align: right;
  height: 100%;
}

.listNav,
.logoLink {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLink {
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  font-size: 17px;
  font-weight: 500;
  display: block;
  line-height: 115px;
  @include pc {
    margin-right: 10px;
  }
}
.navLink.active::after {
  opacity: 1;
}
.navLink.active:visited {
  color: #3f7df6;
  font-weight: bold;
}
.navLink::after {
  content: '';
  background-color: #3f7df6;
  width: 40px;
  height: 3px;
  top: 0;
  border-radius: 9999px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.navLink:visited {
  color: unset;
}
.navLink:hover {
  color: #3f7df6;
  font-weight: 700;
}
.navLink:hover::after {
  opacity: 1;
}

.hasSub {
  position: relative;
}

.subMenu {
  width: 300px;
  position: absolute;
  top: 100%;
  transition: all ease-in-out 0.4s;
  transform-origin: top;
  transform: rotateX(-90deg);
  z-index: 1;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
}
ul.subMenu {
  padding: 0 20px;
}
.subMenu li {
  display: block;
}
.hasPerspative {
  perspective: 500px;
}
.hasSub:hover .subMenu {
  transform: rotateX(0deg);
}
.subNavLink {
  display: block;
  padding: 10px 20px;
  border-top: solid 1px #ccc;
  color: #000;
  transition: all ease-in-out 0.3s;
}

.subNavLink:hover {
  color: #3f7df6;
}

.navLinkBtn {
  color: white;
  background: #3f7df6;
  padding: 8px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinkBtn img {
  margin-right: 10px;
}
.menuRight {
  height: 100%;
  display: inline-flex;
}
.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactBtn a {
  color: white;
}
.IconMenu {
  display: none;
  position: relative;
  span {
    width: 25px;
    height: 1px;
    background: #3f7df6;
    margin-bottom: 5px;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .listNav {
    display: none;
  }
  .menuLeftMB {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 90px;
    .IconMenu {
      display: block;
    }
  }
  .logoLink {
    position: absolute;
    right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .menuRightMB {
    display: none;
  }
  .logoLink {
    position: absolute;
    right: -30px;
  }
}

@media screen and (max-width: 500px) {
  .logoLink {
    position: absolute;
    right: -52px;
  }
}

@media screen and (max-width: 320px) {
  .logoLink {
    position: absolute;
    right: -67px;
  }
}
